html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* 菜单按钮样式 */
.menuBtnC {
  cursor: pointer;
}

.menuBtnC i{
  font-size: 45px;
  font-weight: 900;
}

.userInfoR{
  display: flex;
}

.welcome-message{
  font-size: 16px;
  font-weight: 900;
  align-content: center;
}

.logout-btn{
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.logout-btn i{
  font-size: 40px;
}

/* 样式：隐藏的侧边栏 */
.sidebar {
  position: fixed;
  top: 0;
  left: -400px; /* 初始位置为隐藏 */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease; /* 动画效果 */
  z-index: 1000; /* 确保在最上层 */
}

/* 侧边栏显示时 */
.sidebar.active {
  left: 0; /* 显示时的左侧位置 */
}

.sideBarTopCont{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 10px;
}

.close-btn{
  padding: 0;
}

.sideBarTopCont i{
  font-size: 26px;
}

.sideBarTopCont h2{
  font-size: 25px;
  margin-left: 20px;
}

.menu-container-wrapper i{
  font-size: 27px;
  font-weight: 900;
  margin-right: 5px;
}

.sidebar a {
  color: white;
  font-size: 19px;
  font-weight: 900;
  display: block;
  padding: 7px 0 7px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar a:hover {
  background-color: #555;
}

.userlist-fullcover{
  padding: 0 20px;
}

.userlist-report{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.userlist-per-report{
  justify-content: center;
  text-align: center;
  width: 20%;
  border: 2px solid #ccc;
  background-color: #2c343f;
  color: white;
  border-radius: 15px;
}

.userlist-per-report p {
  font-size: 14px;
  padding: 15px;
  margin: 0; /* 去除默认的边距 */
  background-color: #ffffff13;
}

.userlist-per-report span {
  font-size: 20px;
  padding: 10px 0; /* 确保上下边距 */
  margin: 0; /* 去除默认的边距 */
  display: block; /* 确保 span 占据一整行 */
}


.user-List{
  color: black;
  font-size: 12px;
}

.userlist-search-cover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 30px;
}

.userlist-add-user-btn-cover button{
  padding: 5px 15px;
  background-color: #fbbc04;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.userlist-left-contain{
  align-items: center;
  padding-left: 20px;
}

.userlist-right-contain{
  display: flex;
  align-items: center;
}

.userlist-right-contain h3{
  font-size: 14px;
  color: black;
  margin-right: 10px;
}

#searchInput, #searchBox{
  width: 200px;
  height: 25px;
  padding: 0 5px;
  border: 1px solid #ccc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
  z-index: 1000; /* 确保在最上层 */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* 注册表单样式 */
.form-popup {
  background-color: white;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1001; /* 确保表单高于遮罩 */
  width: 400px;
}

.form-popup h2{
  font-size: 26px;
  margin-bottom: 20px;
}

.form-popup input{
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  margin: 5px;
  border: none;
  border-bottom: 3px solid black;
}

.form-popup input:focus{
  outline: none;
}

.userlist-addUser-formBtn{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.userlist-addUser-formBtn button{
  padding: 7px 20px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 20px;
  border: none;
}

#closeForm{
  background-color: red;
  color: white;
}

.userList-addUser-submit{
  background-color: #fbbc04;
}

.userList-table-wrapper{
  background-color: white;
  padding: 30px;
}

#usersTable {
  table-layout: fixed; /* 强制列宽 */
  width: 100%; /* 设置表格总宽度 */
  border-collapse: collapse; /* 合并边框，避免间隙 */
}

#usersTable th:nth-child(1) { width: 60px; }
#usersTable th:nth-child(2) { width: 60px; }
#usersTable th:nth-child(3) { width: 90px; }
#usersTable th:nth-child(4) { width: 65px; }
#usersTable th:nth-child(5) { width: 60px; }
#usersTable th:nth-child(6) { width: 30px; }
#usersTable th:nth-child(7) { width: 50px; }
#usersTable th:nth-child(8) { width: 50px; }
#usersTable th:nth-child(9) { width: 50px; }
#usersTable th:nth-child(10) { width: 40px; }

#usersTable td {
  height: 100%;
  border: 1px solid #ddd;
  padding: 2px 5px;
}

#usersTable th{
  background-color: #f2f2f2;
  color: black;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

#usersTable th, #usersTable td {
  text-align: center;
  align-items: center;
}

#usersTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#usersTable tr:nth-child(odd) {
  background-color: #ffffff;
}

.userlise-data textarea {
  width: 100%;
  background-color: transparent;
  color: black;
  height: 100%;
  word-break: break-all;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  border: none;
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.userlise-data select{
  background-color: transparent;
  color: black;
}

.userlise-data select:disabled {
  background-color: transparent;
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.userlise-data option{
  background-color: #fbbc04;
  color: black;
  text-align: center;
}

.edit-save-button {
  background-color: #fbbc04;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.edit-save-button:hover {
  background-color: red;
  color: white;
}

.girls-all-cover{
  display: grid;
  justify-content: center;
}

.uploadFormDiv{
  justify-content: center;
  text-align: center;
}

.girl-count-image{
  font-size: 20px;
  font-weight: 900;
  margin: 20px auto;
}

#photoGallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;  /* 水平居中 */
  align-items: center;
}

.img-container {
  position: relative; /* 使容器相对定位 */
  display: flex;      /* 使用 Flexbox */
  flex-direction: column; /* 垂直排列图片和按钮 */
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
  height: 370px; /* 容器高度 */
  overflow: hidden;
  text-align: center;
  background-color: black;
  margin: 5px; /* 添加一些外边距以避免重叠 */
  border: 2px solid #e2e2e2;
}

.img-container img {
  max-width: 100%; /* 限制图片最大宽度 */
  height: auto; /* 自动高度，保持比例 */
  object-fit: cover; /* 确保图片覆盖容器而不变形 */
}

.delete-button {
  position: absolute; /* 绝对定位 */
  top: 0; /* 距离顶部 5px */
  right: -5px; /* 距离右侧 5px */
  background: none; /* 移除默认背景 */
  border: none; /* 移除默认边框 */
  cursor: pointer; /* 鼠标悬停时显示为指针 */
  color: #ff0000; /* 你可以更改为想要的颜色 */
}

.bxs-trash-alt{
  font-size: 40px;
}

/* 调整图片容器在小屏幕上的尺寸 */
@media (max-width: 768px) {
  .img-container {
      margin: 0;
      height: 160px; /* 适配小屏设备的图片容器高度 */
  }
}

@media (max-width: 480px) {
  .img-container {
      margin: 0;
      height: 170px; /* 更小屏幕设备的图片容器高度 */
  }
  .delete-button{
      top: 2px;
      right: -10px;
  }
  .bxs-trash-alt{
      font-size: 24px;
  }
}

.uploadHistory-Wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.uploadHistory-Wrapper table{
  background-color: white;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.uploadHistory-Wrapper th, .uploadHistory-Wrapper td {
  border: 1px solid #ddd;
  word-wrap: break-word; /* 允许长单词换行 */
  overflow-wrap: break-word; /* 支持较新浏览器的换行 */
  white-space: normal; /* 确保内容可以换行 */
}

.uploadHistory-Wrapper th{
  font-weight: 900;
  padding: 15px 10px;
  background-color: #f2f2f2;
}

.uploadHistory-Wrapper i{
  font-size: 40px;
  color: red;
}

.uploadHistory-th-No{
  width: 5%;
}

.uploadHistory-th-Username{
  width: 22%;
}

.uploadHistory-th-Instagram{
  width: 22%;
}

.uploadHistory-th-Photo{
  width: 15%;
}

.uploadHistory-th-Time{
  width: 20%;
}

.uploadHistory-th-uploadID{
  width: 10%;
}

.uploadHistory-th-Action{
  width: 6%;
}

.uploadHistory-Wrapper tr:nth-child(even) {
  background-color: #f2f2f2;
}

.uploadHistory-Wrapper tr:nth-child(odd) {
  background-color: #ffffff;
}